{{#if searchHistory.length}}
  <ul>
    {{#each searchHistory}}
      <li>{{from_currency}} to {{to_currency}}: {{amount}} -> {{converted_amount}} ({{created_at}})</li>
    {{/each}}
  </ul>
{{else}}
  <p>No conversion history available.</p>
{{/if}}
